h1,
p {
  margin: 0;
}

.section {
  padding: 20px 0;
}

@media all and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.container {
  width: calc(100% - 30px);
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .container {
    width: calc(100% - 100px);
  }
}

.link {
  display: inline-block;
}

.title {
  color: #1f4172;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (min-width: 768px) {
  .title {
    margin-bottom: 65px;
  }
}

.text {
  font-family: 'Cinzel';
  font-size: 14px;
  font-weight: 500;
  color: #132043;
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  .text {
    margin-bottom: 25px;
  }
}

.btn {
  font-family: 'Cinzel';
  font-weight: 500;
  font-size: 24px;
  padding: 5px 15px;
  border: none;
  background-color: transparent;
  color: #132043;
}

.btn--start {
  margin-bottom: 20px;
}
